# object files
*.o

# binaries
/src/zelda-battery
/src/zelda-blink

# automake stuff
/autom4te.cache
config.log
config.status
aclocal.m4
Makefile
Makefile.in
.deps
/configure
/build-aux

# misc
/tmp
PROFILE-*
nohup.out
test.sh
