# object files
*.o

# binaries
zba
zbl
zb-color
zb-text
zbatt
zbatc
gzbatt
zbatt.exe
zbatc.exe
gzbatt.exe
main_gui.c

# emacs files
.\#*

# automake stuff
autom4te.cache
config.log
config.status
aclocal.m4
Makefile
Makefile.in
.deps
configure
build-aux

# misc
/tmp
PROFILE-*
nohup.out
test.sh
LICENSE.images

# submodules
src/*.c
src/*.h
