language: c
compiler:
  - clang
  # - gcc-4.4
  # - gcc-4.6
  - gcc-4.7
  - gcc-4.8
  - gcc-4.9
  - gcc
  - tcc
install:
  - sudo apt-get update
#  - sudo apt-cache search gcc
  - sudo apt-get install gcc-4.7 gcc-4.8 gcc-4.9 tcc
script:
  - autoreconf -i
  - ./configure --without-x
  - make clean
  - make
  - (nix/zbatt; echo -e "\n$?")
  - (nix/zbatc; echo -e "\n$?")
  - make clean
  - ./configure --without-x CFLAGS=-DZB_DEBUG=0
  - make
after_success:
  - make check
